.swiper-pagination-bullet{
   border-radius: 100%;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid black;

 
}

.swiper-wrapper{
   padding-bottom: 40px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
   bottom: var(--swiper-pagination-bottom, 0px);

}